@import '../../variables.scss';

.footer {
  width: 100%;
  height: auto;
  background: $background;
  text-align: center;
  position: fixed;
  bottom: 45px;
  left: 0;
  small {
    color: $light-gray;
    font-size: 10px;
  }
  @include mq('md') {
    bottom: 0;
    left: 0;
    small {
      font-size: 16px;
    }
  }
}
